
.login-form {
    max-width: 450px;
    margin: 8vh auto;
    padding: 25px;

    .login-form-title {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.61;
        letter-spacing: normal;
        color: #3f4346;
        margin-bottom: 0px;
    }
}

.login-form-fields {
    padding: 30px;
}

.iran-flag {
    height: 196px;
    width: 126px;
    margin: 32px auto;
    display: flex;

}
