<div class="container">
<mat-card>
  <mat-card-title>
    <h1>Work Experiences</h1>
  </mat-card-title>
  <h4>To write a career record, follow the reverse order and start writing the latest job you have or have.</h4>
  <mat-card-content>

    <div class="row">
      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Job Position</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Job CategoryTitle</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Employer Type</mat-label>
        <input matInput >
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Company</mat-label>
        <input matInput>
      </mat-form-field>

    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Employment Type</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Job Level</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Country</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>State</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>City</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
    </div>

  <div class="row">
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Starting Year</mat-label>
      <mat-select>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Year</mat-label>
      <input matInput placeholder="Year">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Finishing Year</mat-label>
      <mat-select>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Year</mat-label>
      <input matInput placeholder="Year">
    </mat-form-field>
    <mat-checkbox class="check">Hide required marker</mat-checkbox>
  </div>
    <h4>Tasks / Achievements (Optional)</h4>
    <p>In this section you can summarize your tasks and achievements in a separate list.</p>
    <p>Use the Enter button to separate</p>
  </mat-card-content>
  </mat-card>


  <mat-card>

    <p class="text">Add another Social Network record</p>

    <i class="material-icons btn" >add_circle</i>

  </mat-card>

</div>
