

.client-info{
  margin-top: 20px;
}
mat-card{
  margin-bottom: 30px;
}

.item-row{
  margin-top: 20px;
  border-bottom: solid 1px #ddd;
  padding-bottom: 5px;
}

.data-label{
  padding-top: 20px;
}

.manage-invoice{
  max-height: 70vh;
  overflow-y: auto;
}

.option-item{
  margin-top: -5px;
}
