
<div class="container">
  <mat-card>
    <mat-card-title>
      <h1>Contact</h1>
    </mat-card-title>
    <mat-card-content>

      <div class="row">


        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Language Name</mat-label>
          <mat-select>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Reading Level</mat-label>
          <mat-select>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Writing Level</mat-label>
          <mat-select>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Listening Level</mat-label>
          <mat-select>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Speaking Level</mat-label>
          <mat-select>
          </mat-select>
        </mat-form-field>
      </div>


    </mat-card-content>
  </mat-card>
</div>
