<div class="container">
    <div class="card">
        <div class="card-header">
           <mat-card-title>Delete</mat-card-title>
        </div>
        <div class="card-body">
            <p class="delete-text">{{deleteText}}</p>
        </div>
        <div class="footer-buttons">
            <span>
                <button (click)="confirm()" class=" filled-square-success-btn " color="warn" data-dismiss="modal" mat-raised-button
                        type="submit">Yes</button>
            </span>
            <span>
                <button (click)="cancel()" class=" border-square-success-btn " color="primary" data-dismiss="modal" mat-raised-button
                        type="button">No</button>
            </span>


        </div>
    </div>
</div>
