<div class="page-content">
  <mat-card>
    <mat-card-title>Clients List</mat-card-title>
    <mat-card-content>
      <mat-table [dataSource]="clientsList">
        <!-- Client Name Definition -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Client Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!--  Email Definition-->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>

        <!--  Phone Definition -->
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
        </ng-container>

        <!--  Address Definition-->
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="['name', 'email', 'phone', 'address']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['name', 'email', 'phone', 'address']"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
