<div class="container">
<mat-card>
  <mat-card-title>
    <h1>Education</h1>
  </mat-card-title>
  <h4>To write a resume in a resume, always start writing your highest degree.</h4>
  <mat-card-content>

    <div class="row">
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Education Level</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Field of Study</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Branch</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Education Institude Title</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>GPA</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Country</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>State</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>City</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Entrance</mat-label>
        <input matInput placeholder="Year">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Graduate Year</mat-label>
        <input matInput placeholder="Year">
      </mat-form-field>


          <mat-checkbox class="check">Hide required marker</mat-checkbox>


    </div>

  </mat-card-content>
</mat-card>



  <mat-card>

    <p>Add another Social Network record</p>

    <i class="material-icons btn" >add_circle</i>

  </mat-card>

</div>
