<ngx-extended-pdf-viewer
    [base64Src]="base64Data"
    [filenameForDownload]="statementId+'.pdf'"
    [showBookmarkButton]="false"
    [showDownloadButton]="true"
    [showOpenFileButton]="false"
    [showFindButton]="false"
    [showPagingButtons]="false"
    [showPresentationModeButton]="false"
    [showPrintButton]="false"
    [showSecondaryToolbarButton]="false"
    [contextMenuAllowed]="false"
    [useBrowserLocale]="true"
    [showSidebarButton]="true"
    height="90vh"
    language="fa">
</ngx-extended-pdf-viewer>
